# ---------------------------
# Python
# ---------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/

# ---------------------------
# Virtual environment
# ---------------------------
venv/

# ---------------------------
# Environment variables / secrets
# ---------------------------
.env

# ---------------------------
# Database (if local only)
# ---------------------------
*.sqlite3
*.db

# ---------------------------
# IDE / Editor files
# ---------------------------
.vscode/
.idea/
*.swp

# ---------------------------
# OS-specific
# ---------------------------
.DS_Store
Thumbs.db


instance/