<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <title>{% block title %} Home {% endblock %}</title>
</head>

<body>
    <!-- Navbar -->
    <!-- base.html -->
    {% if show_navbar %}
    <nav class="navbar">
        <div class="nav-left">
            <a href="/">Home</a>
            <a href="/about">About</a>
        </div>

        <div class="nav-login">
            <a href="{{ url_for('auth.login') }}" class="login-btn">Log In</a>
            <a href="{{ url_for('auth.sign_up') }}" class="login-btn">Sign Up</a>
        </div>
    </nav>
    {% endif %}

    <!-- Page Content -->
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
